#users_table
  %table#datatable
    %thead
      %tr
        %th IP Address
        %th Created At
        %th Updated At
        %th Counter
    %tbody
      - @users.each do |u|
        %tr
          %th= u.ip_address
          %th= u.created_at
          %th= u.updated_at
          %th= u.counter